<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="main.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css" integrity="sha512-bdTSJB23zykBjGDvyuZUrLhHD0Rfre0jxTd0/jpTbV7sZL8DCth/88aHX0bq2RV8HK3zx5Qj6r2rRU/Otsjk+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

    <div>
        <header>
            <div class="baoquanh">
                <div class="header-tren">
                    <div class="phan">
                        <a href="#" class="link"> Trang chủ </a>
                        <a href="#" class="link"> Sản phẩm </a>
                    </div>

                    <div class="phan">
                        <a href="#" class="link"> Thông báo </a>
                        <a  href="#" class="link "> Đăng kí </a>
                        <a  href="#" class="link link-dang-ki"> Đăng nhập </a>
                    </div>
                </div>
                <div class="header-duoi">
                    <div class="phan1">
                        <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/shop_images_footer.png?1594717586397" alt="" class="logo" />
                    </div>
                    <div class="phan2">
                        <div class="form-timmkiem">
                            <input type="text" placeholder="Tìm kiếm sản phẩm" >
                            <button class="nutdongy" type="submit" >
                                <i class="fa-solid fa-search" >
                            </button>
                        </div>
                        <div class="duoi-timkiem">
                            <a href="#" class="link">Sách</a>
                            <a href="#" class="link">Sách</a>
                            <a href="#" class="link">Sách</a>
                            <a href="#" class="link">Sách</a>
                            <a href="#" class="link">Sách</a>
                        </div>
                    </div>
                    <div class="phan3">
                        <a href="#" class="giohang">
                            <a href="#" class="fa-solid fa-cart-shopping" >
                                
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
   
    <!-- trang chủ -->
    <div>
        <main class="trang-chu noidung-trang">
            <div class="baoquanh">
                <div class="danhmuc">
                    <h4 class="tieude">DANH MỤC</h4>
                    <div class="danhmuc-list">
                        <div class="danhmuc-item">
                            <img src="https://images.foody.vn/res/g75/747170/prof/s640x400/foody-upload-api-foody-mobile-1-jpg-180606103333.jpg" alt="" class="anh" />
                            <h4 class="ten">Lẩu</h4>
                        </div>
                        <div class="danhmuc-item">
                            <img src="https://images.foody.vn/res/g66/654437/prof/s640x400/foody-upload-api-foody-mobile-suon-10-jpg-181121104208.jpg" alt="" class="anh" />
                            <h4 class="ten">Nướng</h4>
                        </div>
                        <div class="danhmuc-item">
                            <img src="https://images.foody.vn/res/g101/1003571/prof/s640x400/file_restaurant_photo_v08c_16104-b4a2f411-210112111415.jpeg" alt="" class="anh" />
                            <h4 class="ten">Cơm</h4>
                        </div>
                        <div class="danhmuc-item">
                            <img src="https://images.foody.vn/res/g16/152318/prof/s640x400/foody-upload-api-foody-mobile-bm-jpg-181018172336.jpg" alt="" class="anh" />
                            <h4 class="ten">Bánh mì</h4>
                        </div>
                        <div class="danhmuc-item">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627" alt="" class="anh" />
                            <h4 class="ten">Đồ Uống</h4>
                        </div>

                    </div>
                </div>
                <div class="hop-tieude">
                    <h4 class="tieude">GỢI Ý HÔM NAY</h4>
                </div>
                <div class="sanpham-list">
                    <!-- <GoiY sanpham={sanpham} nuong={nuong} com={com} banhmi={banhmi} douong={douong}></GoiY> -->
                    <div className="sanpham-item">
                        
                            <div className="sanpham">
                                <div className="yeuthich">Yêu thích</div>
                                <div className="giamgia">Giá</div>
                                <img src="https://bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627" alt="" className="anhdaidien" />
                                <div className="noidung">
                                    <p className="ten">Ướm mầm tài năng</p>
                                    <div className="duoiten">
                                        <div className="phan">
                                            <p className="gia">50000Đ</p>
                                        </div>
                                        <div className="phan">
                                            <p className="daban">đã bán 1000sp</p>
                                        </div>
                                    </div>
                                </div>
                                <div className="nut-tuongtu">Mua ngay</div>
                            </div>
                        
                    </div>

                    <div className="sanpham-item">
                        
                        <div className="sanpham">
                            <div className="yeuthich">Yêu thích</div>
                            <div className="giamgia">Giá</div>
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627" alt="" className="anhdaidien" />
                            <div className="noidung">
                                <p className="ten">Ướm mầm tài năng</p>
                                <div className="duoiten">
                                    <div className="phan">
                                        <p className="gia">50000Đ</p>
                                    </div>
                                    <div className="phan">
                                        <p className="daban">đã bán 1000sp</p>
                                    </div>
                                </div>
                            </div>
                            <div className="nut-tuongtu">Mua ngay</div>
                        </div>
                    
                    </div>
                <div className="sanpham-item">
                        
                    <div className="sanpham">
                        <div className="yeuthich">Yêu thích</div>
                        <div className="giamgia">Giá</div>
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627" alt="" className="anhdaidien" />
                        <div className="noidung">
                            <p className="ten">Ướm mầm tài năng</p>
                            <div className="duoiten">
                                <div className="phan">
                                    <p className="gia">50000Đ</p>
                                </div>
                                <div className="phan">
                                    <p className="daban">đã bán 1000sp</p>
                                </div>
                            </div>
                        </div>
                        <div className="nut-tuongtu">Mua ngay</div>
                    </div>
                
            </div>
            <div className="sanpham-item">
                        
                <div className="sanpham">
                    <div className="yeuthich">Yêu thích</div>
                    <div className="giamgia">Giá</div>
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627" alt="" className="anhdaidien" />
                    <div className="noidung">
                        <p className="ten">Ướm mầm tài năng</p>
                        <div className="duoiten">
                            <div className="phan">
                                <p className="gia">50000Đ</p>
                            </div>
                            <div className="phan">
                                <p className="daban">đã bán 1000sp</p>
                            </div>
                        </div>
                    </div>
                    <div className="nut-tuongtu">Mua ngay</div>
                </div>
            
            </div>
                </div>
            </div>
        </main>
    </div>
    <!-- footer -->
    <footer class='end'>
            <div class="footer-container">
                <section id="footercenter" class="footer-center">
                    <div class="container">
                        <div class="footer-center-wrap">
                            <div class="row">
                                <div class="item">
                                    <div class="block_aboutshop block">
                                        <div class="block_content">
                                            <div class="box logo-ft">
                                                <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/shop_images_footer.png?1594717586397" alt="" class="img-responsive" />
                                            </div>
                                            <div class="about">
                                                Nhà hàng Leo Food thiết kế theo phong cách vừa truyền thống vừa mang nét hiện
                                                đại. Kiến trúc sang trọng kết hợp với khung cảnh thiên nhiên tạo cảm giác đặc
                                                biệt hơn cho du khách khi thưởng thức ẩm thực tại đây.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="footer-block block footer_contact">
                                        <h4 class="title_block"><span>Liên hệ</span></h4>
                                        <div class="block_content" >
                                            <ul >
                                                <li class="icon"><i class="fa-solid fa-phone"></i><a href="tel:0989999999" title="Liên hệ : 0989999999">Di động: 0325616898</a></li>
                                                <li class="icon"><i class="fa fa-envelope" >Email: <a href="mailto:apollotheme@gmail.com">nguyenhongduc@gmail.com</a>
                                                </li>
                                            </ul>
                                            <div class="icon"><i class="fa fa-map-marker" ><span>181 Trần Phú, Hà Đông, Hà
                                                Nội,
                                                Vietnam</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="footer-block block" id="block_links_footer_2">
                                        <h4 class="title_block"><span>Thông tin</span></h4>
                                        <div class="block_content" >
                                            <ul  class="toggle-footer list-group bullet">
                                                <li class="item">
                                                    <a href="#" title="Hướng dẫn mua hàng">Hướng dẫn mua
                                                        hàng</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="Quy định sử dụng">Quy định sử dụng</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="Chính sách vận chuyển">Chính sách vận
                                                        chuyển</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="footer-block block" id="block_links_footer_3">
                                        <h4 class="title_block"><span>Leo Food</span></h4>
                                        <div class="block_content" >
                                            <ul  class="toggle-footer list-group bullet">
                                                <li class="item">
                                                    <a href="#" title="Trang chủ">Trang chủ</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#"  title="Tìm kiếm sản phẩm">Tìm kiếm sản phẩm</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#"  title="Giới thiệu cửa hàng">Giới thiệu cửa hàng</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="Thông tin liên hệ">Thông tin liên hệ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="footernav" class="footer-nav">
                    <div class="container">
                        <div class="footer-bottom-wrap">
                            <div id="powered" class="powered ">
                                <div class="copyright">
                                    <p class="text-center float-left">© Bản quyền thuộc về Hồng Đức</p>

                                </div>
                                <div class="paypal">
                                    <img src="//bizweb.dktcdn.net/100/038/419/themes/49902/assets/payment.png?1594717586397" alt="Logo Payment" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
</body>
</html>