$color-primary: #ee4d2d;
$color-primary-light:#ffb900;
$color-primary-dark:#ff7730;

$color-secondary: #f3bf2e; //Màu Cam
$color-secondary-light: #ffb900; //Màu Cam
$color-secondary-dark: #ff7730;

$color-tertiary-light:#55c57a; // Màu xanh lá cây
$color-tertiary-dark:#28b485;

$color-grey-light-1: #f1f1f1;
$color-grey-dark-1: #333;

$color-grey: #777777;
$color-white: #fff;
$color-black: #000;

